mkdocs
mkdocs-awesome-pages-plugin
mkdocs-encryptcontent-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-localsearch
mkdocs-material
mkdocs-material-extensions
mkdocs-minify-plugin
mkdocs-drawio
natsort
packaging
pycryptodome
Pygments
pymdown-extensions
python-dateutil
pytz
PyYAML
pyyaml_env_tag
regex
requests
six
smmap
mkdocs-glightbox
pandas
tabulate
